<% if flash.has?(:message) %>

  <%= flash[:message] %>
  <br>
<% end %>
<<p>Successfully updated song.</p>

<%= @song.name %>
<a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a>
<% @song.genres.each do |genre| %>
  <a href="/genres/<%=genre.slug%>"><%= genre.name %></a>
<% end %>
